<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}

  <br>

  <li class="list-group-item list-group-item-action {% if request.path in "/"%}active{% endif %} ">
      <a style="{% if request.path == "/" %}color: white;{% endif %} " href="{% url 'taxi:index' %}">Home</a>
  </li>
<li class="list-group-item list-group-item-action {% if "/drivers" in request.path %}active{% endif %} ">
      <a style="{% if "/drivers" in request.path %}color: white;{% endif %} " href="{% url 'taxi:driver-list' %}">All drivers</a>
  </li>
<li class="list-group-item list-group-item-action {% if "/cars/" in request.path %}active{% endif %} ">
      <a style="{% if "/cars/" in request.path %}color: white;{% endif %} " href="{% url 'taxi:car-list' %}">All cars</a>
  </li>
<li class="list-group-item list-group-item-action {% if "/manufacturers/" in request.path %}active{% endif %} ">
      <a style="{% if "/manufacturers/" in request.path %}color: white;{% endif %} " href="{% url 'taxi:manufacturer-list' %}">All manufacturers</a>
  </li>
</ul>
